@font-face {
    font-family: 'AvantGardeGothicC';
    src: url('../fonts/subset-AvantGardeGothicC-Bold.woff2') format('woff2'),
        url('../fonts/subset-AvantGardeGothicC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGardeGothicC';
    src: url('../fonts/subset-AvantGardeGothicC.woff2') format('woff2'),
        url('../fonts/subset-AvantGardeGothicC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Forum';
    src: url('../fonts/subset-Forum.woff2') format('woff2'),
        url('../fonts/subset-Forum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

