.breadcrumbs{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 58px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	z-index: 100;
	@media only screen and (max-width: 992px) {
		margin-top: 20px;
	}
}
.breadcrumbs-list{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	li{
		position: relative;
		display: inline-block;
		padding-right: 30px;
		&:after{
			content: '';
			position: absolute;
			right: 8px;
			top: 6px;
			width: 10px;
			height: 10px;
			background-color: $normal-color;
			border-radius: 50%;
		}
		&:last-child{
			padding-right: 0;
			&:after{
				content: none;
			}
		}
		&:hover{
			a{
				color: #000;
				text-decoration: underline;
				/*color: darken($normal-color, 10%);*/
			}
		}
		a,span{
			font-size: 16px;
			line-height: 22px;
			font-weight: 400;
			color: #1b1b1b;
		}
		span{
			margin-bottom: 0;
			cursor: pointer;
		}
	}
}